WS_URL=wss://atlasbr.evo-games.com/public/bacbo/player/game/PorBacBo00000001/socket?messageFormat=json&...
ENDPOINT_URL=https://minha-api.com/endpoint
DATABASE_URL=postgresql://postgres:postgres@localhost:5440/bacbo